<nav
  class="bg-[#749bc2] lg:px-8 px-2 py-2 text-white flex justify-between items-center w-full"
>
  <h1 class="lg:text-2xl text-xl font-bold">IVD Visualization</h1>
  <div class="flex items-center gap-x-2 lg:w-72">
    <input
      type="text"
      class="rounded-2xl font-thin py-1 text-black bg-[#91c8e4] hidden lg:block px-4 w-full focus:outline-none"
      placeholder="Search Patient ID..."
    />
    <img src="/images/setting.png" class="lg:w-6 w-5" />
  </div>
</nav>
