<% layout('layouts/boilerplate') -%>
<div class="px-4 lg:px-32 mt-16">
  <h1 class="text-3xl font-bold">Settings</h1>
  <p class="mt-2"><%= patient.fullName%> - <%= patient.patientId %></p>
</div>
<main class="px-4 lg:px-32 w-full mt-6">
  <a
    href="/patients/<%= patient.patientId %>/add-data"
    class="block text-3xl font-semibold text-[#749bc2] hover:underline mb-2"
    >Update patient data</a
  >
  <a
    href="/patients/<%= patient.patientId %>/edit-profile"
    class="text-3xl font-semibold text-[#749bc2] hover:underline"
    >Edit patient profile</a
  >

  <div
    class="w-full lg:hidden px-4 bg-[#91c8e4] py-8 mt-4 rounded-2xl flex flex-col justify-center gap-y-2"
  >
    <div class="flex justify-end">
      <img src="/images/search.png" alt="" srcset="" />
    </div>
    <div class="bg-[#c8e4f1] w-full rounded-lg mt-2 p-2">
      <p class="font-bold text-xl">Graphic View</p>
    </div>
    <div class="bg-[#c8e4f1] w-full rounded-lg mt-2 p-2">
      <p class="font-bold text-xl">History View</p>
    </div>
    <div class="bg-[#c8e4f1] flex justify-between w-full rounded-lg mt-2 p-2">
      <p class="font-bold text-xl">Synchronization</p>
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>
    <div class="bg-[#c8e4f1] w-[75%] self-end rounded-lg mt-2 p-2">
      <p class="font-base text-xl">Real Time</p>
    </div>
    <div class="bg-[#c8e4f1] w-[75%] self-end rounded-lg mt-2 p-2">
      <p class="font-base text-xl">Store and Forward</p>
    </div>
    <div class="bg-[#c8e4f1] flex justify-between w-full rounded-lg mt-2 p-2">
      <p class="font-bold text-xl">Notification</p>
      <label class="switch">
        <input type="checkbox" checked="true" />
        <span class="slider round"></span>
      </label>
    </div>
    <div class="bg-[#c8e4f1] w-[75%] self-end rounded-lg mt-2 p-2">
      <p class="font-base text-xl">Real Time</p>
    </div>
    <div class="bg-[#c8e4f1] w-[75%] self-end rounded-lg mt-2 p-2">
      <p class="font-base text-xl">Store and Forward</p>
    </div>
    <div class="bg-[#c8e4f1] w-full rounded-lg mt-2 p-2">
      <p class="font-bold text-xl">Personalize</p>
    </div>
    <div class="bg-[#c8e4f1] w-full rounded-lg mt-2 p-2">
      <p class="font-bold text-xl">Black Theme</p>
    </div>
  </div>
</main>

<style>
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #749bc2;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #749bc2;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>
