<% layout('layouts/boilerplate') -%>
<h1 class="text-3xl font-bold px-32 mt-16">Add Patient Data</h1>
<form
  action="/<%= patient.patientId %>/add-data"
  method="POST"
  class="px-32 mt-8"
>
  <div>
    <label for="bloodPressure" class="block font-semibold"
      >Blood Pressure:</label
    >
    <input
      type="text"
      name="bloodPressure"
      id="bloodPressure"
      class="bg-[#91c8e4] px-2 py-1 mt-2"
      value="<%= patient.bloodPressure %>"
    />
  </div>
  <div>
    <label for="meanPulse" class="block font-semibold">Mean Pulse:</label>
    <input
      type="text"
      name="meanPulse"
      id="meanPulse"
      class="bg-[#91c8e4] px-2 py-1 mt-2"
      value="<%= patient.meanPulse %>"
    />
  </div>
  <button>Submit</button>
</form>
